<div class="card-body">
    <div class="row">
        <div class="col-3"><img src="/static/images/{{ t.picture }}" class="img-fluid" alt=""></div>
        <div class="col-9">
            <p class="float-right">Рейтинг: {{ t.rating }} Ставка: {{ t.price }} / час</p>
            <h2 class="h4">{{ t.name }}</h2>
            <p>{{ t.about|truncate(180) }}</p>
            <a href="{{ url_for('render_profiles_item', teacher_id= t.id) }}"
               class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и
                расписание</a>
        </div>
    </div>
</div>